.site-name{
    color: rgb(43, 36, 63)!important;
    font-weight: bold;
    font-size: 28px;
}

.register-btn{
    color: white;
    background-color: #483e68;
    border-color: #362d50;
    transition: all .3s;
    margin: 0 10px;
    font-weight: 600;
    font-size: 18px;
}
.register-btn:hover{
    background-color: #3c3457;
    color: #fff;
    border: 1px solid rgb(43, 36, 63);
}
.dot{
    color: #5e3eca;
}
.font-weight{
    font-weight: 500 !important;
}
.nav-link{
    margin: 0 10px;
    font-weight: 600;
    font-size: 18px;
    color: #000 !important;
    transition: .3s;
}
.nav-link:hover{
    color: rgb(78, 77, 77) !important;
}
.img-style{
    height: 55px;
    width: 150px;
    object-fit: fill;
}
.search-item{
    margin: 0px auto;
    width: 50%;
}
.avaterIcon{
    height: 45px;
    cursor: pointer;
}
.user-name{
    font-size: 18px;
    font-weight: 700 !important;
}

/*=== Responsive Design ====*/
@media (min-width: 992px){
    .icon-header {
        width: 170px;
        margin-top: -1.5rem;
        margin-left: 10rem;
    }
}
@media (max-width: 991px) {
    .btn-style{
        margin-top: 1rem;
    }
    .navbar-toggler{
        background-color: #545454;
    }
    .icon-header{
        display: none;
    }
}
@media (min-width: 768px){
    .col-md-6 {
        width: 50% !important;
    }
}
